@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-6">
        <div class="card p-3 mb-4">
            <h2>Konrad Potempski</h2>
            <p></p>
            <p>Hi! My name is Konrad and I'm a programmer with over 3 years proffessional experience in game development. I've been working with Blum Entertainment over their most ambitious projects, as well as created few titles on my own. Recently I've been exploring other ways of programming and begun my shift towards professional .Net development. Feel free to contact me via Linkedin or Github!</p>
            <p></p>
            <a asp-page="/Projects" class="btn btn-primary mb-2">View Projects</a>
            <p></p>
            <a href="link-to-your-resume.pdf" class="btn btn-primary mb-2" target="_blank">View Resume</a>
            <p></p>
            <div>
                <a href="https://github.com/konradp" target="_blank">GitHub</a> |
                <a href="https://www.linkedin.com/in/konrad-potempski-394831203/" target="_blank">LinkedIn</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card p-3 mb-4">
            <h3>Tech Stack</h3>
            <p></p>
            <h4>Game Development</h4>
            <ul class="list-unstyled">
                <li><span class="badge bg-secondary">C#</span></li>
                <li><span class="badge bg-secondary">Unity</span></li>
                <li><span class="badge bg-secondary">ECS</span></li>
                <li><span class="badge bg-secondary">Zenject</span></li>
                <li><span class="badge bg-secondary">Extenject</span></li>
                <li><span class="badge bg-secondary">Memory Profiler</span></li>
                <li><span class="badge bg-secondary">Unity Timeline</span></li>
                <li><span class="badge bg-secondary">Cinemachine</span></li>
                <li><span class="badge bg-secondary">Vehicle Physics</span></li>
                <li><span class="badge bg-secondary">Fmod</span></li>
                <li><span class="badge bg-secondary">Wwise</span></li>
                <li><span class="badge bg-secondary">Steamworks SDK</span></li>
                <li><span class="badge bg-secondary">Xbox One Creators Program SDK</span></li>
                <li><span class="badge bg-secondary">Blender</span></li>
                <li><span class="badge bg-secondary">GIMP</span></li>
            </ul>
            <h4>Web Development</h4>
            <ul class="list-unstyled">
                <li><span class="badge bg-secondary">C#</span></li>
                <li><span class="badge bg-secondary">HTML</span></li>
                <li><span class="badge bg-secondary">ASP.NET Core</span></li>
                <li><span class="badge bg-secondary">Entity Framework Core (ORM)</span></li>
                <li><span class="badge bg-secondary">SQL Server</span></li>
                <li><span class="badge bg-secondary">RESTful API endpoints</span></li>
                <li><span class="badge bg-secondary">Blazor Server</span></li>
                <li><span class="badge bg-secondary">Razor Components</span></li>
                <li><span class="badge bg-secondary">JavaScript Interop</span></li>
                <li><span class="badge bg-secondary">REST API Integration</span></li>
            </ul>
            <h4>Product Management</h4>
            <ul class="list-unstyled">
                <li><span class="badge bg-secondary">Scrum</span></li>
                <li><span class="badge bg-secondary">Agile</span></li>
                <li><span class="badge bg-secondary">Jira</span></li>
                <li><span class="badge bg-secondary">Miro</span></li>
                <li><span class="badge bg-secondary">Trello</span></li>
                <li><span class="badge bg-secondary">Steamworks</span></li>
            </ul>
            <h4>IDE Toolset</h4>
            <ul class="list-unstyled">
                <li><span class="badge bg-secondary">Rider</span></li>
                <li><span class="badge bg-secondary">Visual Studio</span></li>
                <li><span class="badge bg-secondary">Visual Studio Code</span></li>
            </ul>
            <h4>Version Control Toolset</h4>
            <ul class="list-unstyled">
                <li><span class="badge bg-secondary">Git</span></li>
                <li><span class="badge bg-secondary">Github</span></li>
                <li><span class="badge bg-secondary">Fork</span></li>
            </ul>
        </div>
    </div>
</div>
